body {
background-color: #1b1b1b;

color:  #f2f2f2;
/* Location of the image */
background-image: url(../medya/bckgrnd.jpg);

/* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn't tile */

/* Background image is fixed in the viewport so that it doesn't move when
the content's height is greater than the image's height */
background-attachment: fixed;

/* This is what makes the background image rescale based
on the container's size */
background-size: cover;

}
h1 {
/*     color:   #999999; */

color:  #bfbfbf;
}

a{

    font-family:monospace

}

a:link{
  color:   #b3b300;
}
a:visited{
  color:   #b3b300;
}

a.b1 {

     border: solid  #9900e6 2px;

}

h1{
    font-family:monospace
}

h2{
    font-family:monospace
}

p{
    font-family:monospace;
font-size:120%;
max-width:1300px;

}

/*background-image: url("../medya/bckgrnd.jpg");
background-size: cover;
background-repeat:   no-repeat;
 background-position: center center; */





/* background: url(../medya/bckgrnd.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
